# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2019-2022 The Foundation for Public Code <info@publiccode.net>, https://standard.publiccode.net/AUTHORS

Gemfile.lock
_site
standard.pdf
standard-cover.pdf
vendor/
urls-sorted.txt
urls.txt
