# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2025 Standard for Public Code Authors, https://www.standardforpubliccode.org/AUTHORS; 2019-2024 The Foundation for Public Code <info@publiccode.net>, https://www.standardforpubliccode.org/AUTHORS

Gemfile.lock
_site
_build_pdf
*.pdf
*.epub
.bundle/
vendor/
urls-sorted.txt
urls.txt
release.body
*.orig
node_modules/
package-lock.json
