# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2019-2023 The Foundation for Public Code <info@publiccode.net>, https://standard.publiccode.net/AUTHORS

Gemfile.lock
_site
_build_pdf
*.pdf
*.epub
vendor/
urls-sorted.txt
urls.txt
release.body
