/* SPDX-License-Identifier: CC0-1.0 */
/* SPDX-FileCopyrightText: 2019-2023 The Foundation for Public Code <info@publiccode.net>, https://standard.publiccode.net/AUTHORS */
html, .markdown-body {
  font-family: Mulish;
  font-size: 11pt;
}

.markdown-body h1, .markdown-body h2, .markdown-body h3 {
  font-weight: normal;
  position: relative;
}
.markdown-body h1 {
  margin-top: 0;
  font-size: 1.5cm;
  border-bottom: none;
}
.markdown-body h2 {
  font-size: 1.5em;
}
.markdown-body h3 {
  font-size: 1em;
  font-weight: bold;
}
.markdown-body h4 {
  font-size: 1em;
  font-style: italic;
}
.markdown-body h4 {
  font-weight: bold;
  font-weight: normal;
}

article>p, article>ul, article>ol {
  position: relative;
  max-width: 27rem;
}

article {
  clear: both;
}

a:link {
  color: inherit;
  text-decoration: none;
}

a:link:before {
  color: grey;
  page-break-inside: avoid;
  margin-left: .25em;
  break-inside: avoid;
  display: block;
  right: 0;
  width: 6cm;
  margin-right: -7cm;
  padding: 0.25rem;
  line-height: 1.25;
  text-align: left;
  float: right;
  clear: both;
  word-break: normal;
  text-decoration: none;
}
a[href^="http"]:link {
  color: black;
  text-decoration: none;
  word-wrap: normal;
}
a[href^="http"]:before {
  content: "" attr(href) "";
  font-size: .75em;
}
a[href^="#"] {
  color: black;
  text-decoration: none;
}
a[href^="#"]:after {
  content: "" target-counter(attr(href), page);
  color: black;
  background-color: whitesmoke;
  display: inline;
  width: 0.8cm;
  padding: 0.2cm;
  text-align: right;
}

img {
  max-width: 155% !important;
}

ol, ul {
  margin-bottom: 2em;
}

li, p {
  clear: both;
}

/* Headings */

.markdown-body [id$="public-policy-makers-what-you-need-to-do"]:before,
.markdown-body [id$="managers-what-you-need-to-do"]:before,
.markdown-body [id$="developers-and-designers-what-you-need-to-do"]:before {
  display: block;
  position: absolute;
  content: 'A';
  text-align: center;
  width: 1cm;
  height: 1cm;
  background-color: black;
  border: 1px solid black;
  color: white;
  display: inline-block;
  margin-left: -1.2cm;
  box-sizing: border-box;
  padding: 0.12cm;
  font-size: 0.5cm;
  font-weight: 900;
}
.markdown-body [id$="public-policy-makers-what-you-need-to-do"]:before {
  background-color: #00EFB5;
  border-color: #00EFB5;
  content: 'P';
}
.markdown-body [id$="managers-what-you-need-to-do"]:before {
  background-color: #FF6D1C;
  border-color: #FF6D1C;
  content: 'M';
}
.markdown-body [id$="developers-and-designers-what-you-need-to-do"]:before {
  background-color: #8626FF;
  border-color: #8626FF;
  content: 'D';
}

/* First page */

h1.title {
  font-size: 5em;
  font-weight: 700;
  margin-bottom: 1cm;
}

ul.first-page-audiences {
  max-width: none;
  list-style: none;
  font-size: 1.25em;
  padding-left: 0;
}
.first-page-audiences li, .first-page-audiences lh {
  display: block;
  margin-bottom: .5cm;
}
.first-page-audiences lh {
  margin-bottom: 1cm;
}
.first-page-audiences li {
  padding-left: 1.2cm;
}
.first-page-audiences li::before {
  margin-top: -.15cm;
}
#section-first-page>img {
  width: 100%;
}

/* Print specific */

@media print {
  /* html { page-break-before: left } */
  @page {
    /* A4 with a 3mm bleed on every side */
    size: 21.6cm 30.3cm;
    margin: 2cm 0;
    orphans:4;
    widows:4;
  }
  @page :left {
    margin-right: 1cm;
    @top-left {
      background: whitesmoke;
      font-size: 75%;
      height: 1cm;
      width: 1.23cm;
      text-align: center;
      padding-left: 0.5cm;
    }
  }
  @page :right {
    margin-left: 1cm;
    @top-right {
      background: whitesmoke;
      font-size: 75%;
      height: 1cm;
      width: 1.23cm;
      text-align: center;
      padding-right: 0.5cm;
    }
  }
  figure {
    page: image;
  }
  figure>img {
    width: 100%;
    height: 100%;
  }
  @page image {
    margin-top: 0 !important;
    margin-left: -1.5cm !important;
    margin-right: -1.5cm !important;
    margin-bottom: 0 !important;
    padding: 0 0 0 0 !important;
  }

  article {
    margin: 0 2cm;
    break-before: left;
  }
  article:first-of-type {
    break-before: avoid;
  }
  h1, h2, h3, h4 {
    page-break-after: avoid;
  }
  img {
    page-break-inside: avoid;
  }
  #table-of-contents {
    line-height: 0.9;
  }
  a.table-of-contents[href^="http"]:after {
  content: "" attr(href) "";
  font-size: .75em;
}
  a.table-of-contents:link:after {
  color: grey;
  page-break-inside: avoid;
  margin-left: .25em;
  break-inside: avoid;
  display: block;
  right: 0;
  width: 0.8cm;
  margin-right: -7cm;
  padding: 0.25rem;
  line-height: 1.25;
  text-align: right;
  float: right;
  clear: both;
  word-break: normal;
  text-decoration: none;
}

  #section-first-page>img {
    width: 21.6cm;
    margin: 1cm 0 1cm -3.21cm; /* This value for the left margin was done by eye */
  }
}

@media screen {
  body {
    background-color: whitesmoke;
    margin: 0; padding: 0;
  }
  article {
    display: block;
    background-color: white;
    padding: 1cm;
    min-height: 29.7cm;
    max-width: 50em;
    max-width: 21cm;
    box-sizing: border-box;
    margin: 2cm 0;
  }
}
