# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2021-2024 The Foundation for Public Code <info@publiccode.net>, https://standard.publiccode.net/AUTHORS

name: local link check
on:
  workflow_dispatch: {}
#  schedule:
#             ┌───────────── minute (0 - 59)
#             │ ┌───────────── hour (0 - 23)
#             │ │ ┌───────────── day of the month (1 - 31)
#             │ │ │ ┌───────────── month (1 - 12 or JAN-DEC)
#             │ │ │ │ ┌───────────── day of the week (0 - 6 or SUN-SAT)
#             │ │ │ │ │
#             │ │ │ │ │
#             │ │ │ │ │
#             * * * * *
#    - cron:  '7 1 * * *' # every day at 01:07 (UTC?)

defaults:
  run:
    shell: bash

jobs:
  cibuild:
    if: ${{ github.repository == 'publiccodenet/standard' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.7'
      - name: install-deps
        run: >
          sudo apt-get install -y
          aspell
          aspell-en
      - run: bundle install
      - run: ./script/test-markdown.sh
      - run: ./script/test-with-link-check.sh
      - run: ./script/find-missing-spdx.sh
      - run: ./script/missing-glossary-links.sh
      - run: ./script/spell-check.sh
